header{
    padding: 30px;
    
}

nav ul li{
    display: inline-block;
    margin: 30px;
    font-size: 20px;  
}

nav{
    text-align: center;
    background-color: grey; 
}

#first img{
    margin-left: 270px;
    margin-bottom: 30px;
    }
    
    #second{
    margin-left: 245px;
    }

    #second img{
        padding-left: 25px;

    }

    #third{
        display: inline-block;
        margin-left: 270px;
        margin-top: 30px;
    }

    #third img{
        float: left;
        padding-right: 25px;
    }
    .scroll{
        margin-top: 10px;
        margin-right: 270px; ;
        height: 353px;
        overflow: auto;

    }
section button{
    background-color: black;
     color: white;
}

footer{
    margin: 30px;
    margin-bottom: 0px;
    background-color: grey;
    height: 100px;
}



