header{
   
   width: 100%;
   
    
}

nav ul li{
    display: inline-block;
    margin: 30px;
    font-size: 20px; 
   
}

nav{
    text-align: center;
    background-color: grey; 
    color: white;
    
}

section:nth-of-type(1) > img{
    margin-left: 270px;
    margin-bottom: 30px;
    padding-top: 30px;
}
    
    section:nth-of-type(2){
    margin-left: 245px;
    }

    section:nth-of-type(2) img{
        padding-left: 26px;

    }

    section:nth-of-type(3){
        display: inline-block;
        margin-left: 270px;
        margin-top: 30px;
    }

    section:nth-of-type(3) img{
        float: left;
        padding-right: 25px;
    }
    section:nth-of-type(3) > div{
        margin-top: 10px;
        margin-right: 285px; ;
        height: 353px;
        overflow: auto;

    }
section button{
    background-color: black;
     color: white;
}

footer{
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: grey;
    height: 100px;
    width: 100%;
}



